// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

@import url('https://fonts.googleapis.com/css?family=Gentium+Basic:700');

.edriseur {
  margin: 2rem 0;
}

.edriseur ol:last-child,
.edriseur li:last-child,
.edriseur .extras p,
.edriseur p:last-child {
  margin: 0;
}

.edriseur .main {
  margin-bottom: 2rem;
}

.edriseur .definition h2 {
  font-family: 'Gentium Basic', serif;
}

.edriseur .definition li {
  margin-bottom: 1rem;
}

.edriseur .text-muted-2x {
  color: #ccc;
}